---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <div id="myplot"></div>
  <select name="species" id="species">
    <option value="">All species</option>
    <option value="Adelie">Adelie</option>
    <option value="Chinstrap">Chinstrap</option>
    <option value="Gentoo">Gentoo</option>
  </select>
  <select name="island" id="island">
    <option value="">All islands</option>
    <option value="Biscoe">Biscoe</option>
    <option value="Dream">Dream</option>
    <option value="Torgersen">Torgersen</option>
  </select>
  <select name="sex" id="sex">
    <option value="">All sexes</option>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>
  </Layout>

  <script>

        import * as Plot from "@observablehq/plot";
        import penguins from "../assets/penguins.json";
    
        const selectSpecies = document.getElementById("species");
        const selectIsland = document.getElementById("island");
        const selectSex = document.getElementById("sex");
    
        function renderPlot() {

            const species = selectSpecies.value;
            const island = selectIsland.value;
            const sex = selectSex.value;
    
            const plotDiv = document.getElementById("myplot");
     
            plotDiv.innerHTML = "";
     
            const plot = Plot.plot({
                marks: [
                    Plot.dot(penguins, {
                        x: "culmen_length_mm",
                        y: "culmen_depth_mm", 
                        stroke: "species", 
                        filter: (d) => 
                        (!species || d.species === species ) &&
                        (!island || d.island === island) &&
                        (!sex || d.sex === sex)
                    }),
                ],
            });
            plotDiv.appendChild(plot);
        }
    
        selectSpecies.addEventListener("change", renderPlot);
        selectIsland.addEventListener("change", renderPlot);
        selectSex.addEventListener("change", renderPlot);
    
        renderPlot();
    </script>