---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">
      Test Astro et Plot (Observablehq)
    </h1>
    <div class="bg-white shadow-md rounded-lg p-6">
      <PlotFigure
        options={{
          marks: [
            Plot.dot(penguins, {
              x: "culmen_length_mm",
              y: "culmen_depth_mm",
              stroke: "species",
            }),
          ],
        }}
      />
    </div>
    <h2 class="text-2xl font-semibold text-gray-700 mt-12 mb-4">
      Histogramme avec 10 000 valeurs aléatoires
    </h2>
    <div id="myplot" class="bg-gray-100 shadow-md rounded-lg p-6"></div>
  </div>
  <script>
    import * as Plot from "@observablehq/plot";

    const plot = Plot.rectY(
      { length: 10000 },
      Plot.binX({ y: "count" }, { x: Math.random })
    ).plot();
    const div = document.querySelector("#myplot");
    div.append(plot);
  </script>
</Layout>
