---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <div id="myplot"></div>
  </Layout>

<script>

import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";

const plot = Plot.plot({marks:[Plot.dot(penguins, {
      x: "culmen_length_mm",
      y: "culmen_depth_mm",
      stroke: "species",
    })]});
const div = document.querySelector("#myplot");
div.append(plot);

</script>