---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <nav class="bg-blue-400 text-white shadow-md">
      <ul class="flex space-x-4 p-4">
      <li><a href="/" class="hover:underline border border-white p-2">Home</a></li>
      <li><a href="/simple_penguins" class="hover:underline border border-white p-2">Simple Penguins</a></li>
      <li><a href="/filtre_penguins" class="hover:underline border border-white p-2">Premier Filtre</a></li>
      <li><a href="/filtre2_penguins" class="hover:underline border border-white p-2">Deuxième Filtre</a></li>
      <li><a href="/olympians" class="hover:underline border border-white p-2">Olympians</a></li>
      </ul>
    </nav>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
